body{
    background: #222;
}

#burger-container{
    position: relative;
    margin: 200px auto;
    width: 100px;
}

#burger{
    cursor: pointer;
    display: block;
}

#burger span{
    background: #eee;
    display: block;
    width: 100px;
    height: 14px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3){
    width: 0;
    opacity: 0;
}

#burger-container.open span:nth-child(4){
    transform: rotate(45deg);
    top: -36px;
}

#burger-container.open span:nth-child(1){
    transform: rotate(-45deg);
    top: 36px;
}
